<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Aswin Raghuprasad</title>
    <link id="mystyle" href="{% static 'styles/maindark.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/css/font-awesome.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <button class="btn btn-light" style="background-color: #e3e3e3;" onclick="swapStyle('main.css')">Light Mode</button>
                <button class="btn btn-dark" onclick="swapStyle('maindark.css')">Dark Mode</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3" style="margin-top:20px;">
                <div class="card card-body pb-0 h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/pp_150_2.jpeg' %}">
                    <hr>
                    <h4>Hi, I'm <b>Aswin!</b></h4>
                    <p><i>Until I Achieve;</i></p>
                    <p>Project Engineer at Wipro Digital | Python | AWS Certified Cloud Practitioner | Java | DevOps | Microservices | Docker | Kubernetes | Git | Jenkins</p>
                    <hr>
                    <ul class="social-links" style="display: inline-block;">
                        <li style="display: inline-block;">
                            <a href="https://github.com/aswinrprasad" class="btn btn-social-icon btn-github" target="_blank">
                                <span class="fa fa-github"></span>
                            </a>
                        </li>
                        <li style="display: inline-block;">
                            <a href="https://in.linkedin.com/in/aswinrprasad" class="btn btn-social-icon btn-linkedin" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                        <li style="display: inline-block;">
                            <a href="https://www.instagram.com/aswinrprasad/" class="btn btn-social-icon btn-instagram" target="_blank">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                        <li style="display: inline-block;">
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=aswinrprasad@gmail.com" class="btn btn-social-icon btn-google" target="_blank">
                                <span class="fa fa-google"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" style="margin-top:20px;">
                <div class="card card-body h-100">
                    <h4>More About Me</h4>
                    <hr>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm a Software Engineer passionate about Development & DevOps. I keep my mind engaged mostly
                        by taking on new projects which challenge and gives an opportunity to learn new things. With my
                        positive of being able to work hard until I achieve my goals for each day, I've self taught various
                        tech stacks to have a broad understanding of the projects that I've worked on. I'm usually a perfectionist when it comes to the work being done and also am experienced with using different
                        linux environments & CLI. I also love solving complicated problems and excel in team building and
                        team management. <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        I'm skilled in Python & Java. I have good exposure in DevOps(building Jenkins pipelines and integrating the CI/CD pipelines with NXRM, IQ Server and SonarQube for code quality and security) 
                        and have also worked with Microservices with Java Springboot Framework.
                        At my current role, I'm working to automate different areas with python and also maintaining/developing API endpoints 
                        which integrates with an Angular Frontend. Also, have experience with and managed Kubernetes clusters on an enterprise level, docker swarm & docker compose.
                        Currently learning full stack web development with MERN Stack and have done a few personal
                        projects with the same. 
                        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        My other hobbies include, painting, writing poetry and reading. I'm well versed in English,
                        Malayalam, Hindi and Tamil.
                        
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Education</h4>
                    <hr>
                    <p>
                        <h5>Amrita Vishwa Vidyapeetham</h5>
                        <h6>B.Tech Computer Science Engineering</h6>
                        <p class="p-icon">
                            <svg class="bi bi-calendar-date" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                            </svg> 2016-2020
                            &nbsp;&nbsp;&nbsp;
                            <svg class="bi bi-graph-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                                <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
                                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
                            </svg> CGPA : 7.49
                            <br>

                            <svg class="bi bi-map" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"/>
                            </svg> Amritapuri, Kollam, Kerala
                        </p>
                    </p>

                    <p>
                        <h5>Ursuline</h5>
                        <h6>Senior Secondary Education - CBSE</h6>
                        <p class="p-icon">
                            <svg class="bi bi-calendar-date" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                            </svg> 2014-2016
                            &nbsp;&nbsp;&nbsp;
                            <svg class="bi bi-graph-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                                <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
                                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
                            </svg> Percentage : 76.6%
                            <br>

                            <svg class="bi bi-map" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"/>
                            </svg> Pariyaram, Kannur, Kerala
                        </p>
                    </p>

                    <p>
                        <h5>Chinmaya Vidyalaya</h5>
                        <h6>Secondary Education - CBSE</h6>
                        <p class="p-icon">
                            <svg class="bi bi-calendar-date" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                            </svg> 2012-2014
                            &nbsp;&nbsp;&nbsp;
                            <svg class="bi bi-graph-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                                <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
                                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
                            </svg> Percentage : 72.2%
                            <br>

                            <svg class="bi bi-map" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"/>
                            </svg> Payyanur, Kannur, Kerala
                        </p>
                    </p>
                </div>
                <br>
                <div class="card card-body">
                    <h4>Technical Skills</h4>
                    <hr>

                    <ul id="tech-wrap">
                        <li><h5>Programming Languages</h5></li>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Python, Java, C/C++</p>
                        <li><h5>Database</h5></li>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SQL(Structured Query Language), MongoDB, AWS RDS</p>
                        <li><h5>Web Development</h5>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HTML, CSS, NodeJS, JavaScript</p>
                            <ul>
                                <li><h6>Familiar Frameworks</h6></li>
                                <p style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Django, Bootstrap, ReactJS, ExpressJS, SpringBoot</p>
                            </ul>
                        </li>
                        <li><h5>Version Control</h5></li>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Git</p>
                        <li><h5>Cloud</h5></li>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AWS Certified Cloud Partitioner</p>
                        <ul>
                            <li><h6>Familiar Services</h6></li>
                            <p style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RDS, Amplify, EC2, EKS, DynamoDB, Lambda, API Gateway, ALB</p>
                        </ul>
                    </ul>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h4>Research and Projects</h4>
                    <hr>
                    <p>
                        <h5>A website for Pentagon Water Consultants</h5>
                        <p class="p-icon">
                            <svg class="bi bi-calendar-date" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                            </svg> June 2020
                        </p>
                        <ul id="proj-wrap1">
                            <li>A web application developed for Pentagon Water Consultants (A service provider for waste
                                water treatment, water consultancy and water testing.) for digitalising the process of water
                                testing and result publication.</li>
                            <li>Technology Used: Python, Django, HTML, CSS-Bootstrap, Reportlab </li>
                            <li><a href="https://www.github.com/WDJ-PATH/PentagonWaterConsultants" target="_blank">View
                                Project</a> | <a href="https://pentagonwaters.herokuapp.com/" target="_blank">View Webpage</a></li>
                        </ul>
                    </p>
                    
                    <p>
                        <h5>Simple To-do App</h5>
                        <p class="p-icon">
                            <svg class="bi bi-calendar-date" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                            </svg> June 2020
                        </p>
                        <ul id="proj-wrap1">
                            <li>A web application for tracking your daily tasks & getting it done. Integrates login and account creation.</li>
                            <li>Technology Used: MongoDB, ReactJS, NodeJS, ExpressJS, CSS-Bootstrap, HTML </li>
                            <li><a href="https://github.com/aswinrprasad/mern-todo-app" target="_blank">View
                                Project</a></li>
                        </ul>
                    </p>

                    <p>
                        <h5>Security Analysis of IoT Devices and Prevention of Attacks</h5>
                        <p class="p-icon">
                            <svg class="bi bi-calendar-date" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                            </svg> November 2019 – February 2020
                        </p>
                        <ul id="proj-wrap2">
                            <li>A project that provides research on vulnerabilities of IoT gateway devices and
                                a small scale working model which presents an idea for an added security
                                layer.</li>
                            <li>Technology Used: Arduino IDE, NodeMCU Microcontroller, DHT11
                                Sensor and Aircrack-Ng </li>
                            <li><a href="https://github.com/aswinrprasad/IoT-Security-Firewalls" target="_blank">View Project</a></li>
                        </ul>
                    </p>

                    <p>
                        <h5>ASEeats - Website</h5>
                        <p class="p-icon">
                            <svg class="bi bi-calendar-date" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                <path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                            </svg> January 2019 - May 2019
                        </p>
                        <ul id="proj-wrap3">
                            <li>A web based application where a user can login using their college
                                mail id and order food from canteen. The canteen head can update the
                                menu with items available.</li>
                            <li>Technology Used: PHP, Javascript, HTML and SQL(in the backend) </li>
                            <li><a href="https://github.com/WDJ-PATH/AseEatsOnline" target="_blank">View Project</a></li>
                        </ul>
                    </p>
                </div>
                <br>
            </div>
        </div>
        <br>
    </div>
    <script type="text/javascript">
        var setTheme = localStorage.getItem('theme')

        if(setTheme == null){
            swapStyle('maindark.css')
        }else{
            swapStyle(setTheme)
        }
        function swapStyle(sheet){
            document.getElementById("mystyle").href = "/static/styles/"+sheet
            localStorage.setItem('theme', sheet)
        }
    </script>
</body>
</html>
