body{
    background-color: #F8F8F8!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width:auto;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.card, div.card-body{
    border-radius: 20px;
}

p.p-icon{
    font-size: 14px;
    color: gray;
}

h6{
    color: #3e3e3e;
}



a:link {
    color: gray;
}

a:hover{
    color: #686868;
}
a:visited {
  color: #686868;
}

a:active {
  color: #686868;
}

.social-links{
    padding: 0;
    list-style-type: None;
}

#tech-wrap, #proj-wrap1, #proj-wrap2, #proj-wrap3 {
    margin-right: 20px;
    color: #424242;
}
